<a href="https://colab.research.google.com/github/Pradhuman0810/Pradhuman0810/blob/main/python_if_else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
i = int(input("give number : "))
if(i%2 == 0):
  print("even")
else:
  print("odd")

give number : 785156956
even

In [6]:
a = int(input("give a : "))
b = int(input("give b : "))
c = int(input("give c : "))
if(a>b and a>c):
  print("a is bigger")
elif(b>a and b>c):
  print("b is bigger")
else:
  print("c is bigger")

give a : 4
give b : 8
give c : 56
c is bigger

In [7]:
year = int(input("give year : "))
if(year%4 == 0 and year%100 != 0) or (year %400 == 0):
  print("leap year")
else:
  print("not a leap year")

give year : 8542
not a leap year

In [8]:
marks= int(input("give marks : "))
if(marks>=90 and marks<= 100):
  print("grade A")
elif(marks>=80 and marks<= 89):
  print("grade b")
elif(marks>=70 and marks<= 79):
  print("grade c")
elif(marks>=60 and marks<= 69):
  print("grade d")
elif(marks<60):
  print("grade f")

give marks : 52
grade f

In [9]:
s = input("give character: ")
if( s in 'aeiou'):
  print("vowel")
else:
  print("constant")

give character: d
constant

In [2]:
a= int(input("give num1 : "))
b= int(input("give num2 : "))
o = input("give operator : ")
if( o == '+'):
  output = a+b
elif( o == '-'):
  output = a-b
elif( o == '*'):
  output = a*b
elif( o == '/'):
  output = a/b
else:
  output = 'wrong input'

print( output)

give num1 : 6
give num2 : 7
give operator : /
0.8571428571428571

In [3]:
x= int(input("give number : "))
if(x == 0):
  print( " zero")
elif(x>0):
  print("positive")
else:
  print("negative")

give number : 5
positive

In [5]:
u = input("give username: ")
p = input("give password: ")
if(u == 'admin') and (p == '1234'):
  print("login successful")
else:
  print("login failed")

give username: admin
give password: 857
login failed

In [6]:
a= int(input("give side1 : "))
b= int(input("give side2 : "))
c= int(input("give side3 : "))
if( a+b > c and a+c > b and b+c > a):
  print("triangle is valid")
else:
  print("triangle is not valid")

give side1 : 5
give side2 : 8
give side3 : 4
triangle is valid

In [11]:
h = float(input("give height : "))
w = int(input("give weight : "))
bmi = w/(h**2)
print(bmi)
if(bmi < 18.5):
  print("underweight")
elif(bmi>=18.5 and bmi<=24.9):
  print("normal")
elif(bmi>=25 and bmi<=29.9):
  print("overweight")
else:
  print("Obesity")

give height : 1.85
give weight : 95
27.757487216946675
overweight

In [14]:
p= int(input("give price: "))
if( p > 1000):
  amount = p - p*0.10
elif(p > 500) and (p <= 1000):
  amount = p - p*0.05
else:
  amount = p
print(amount)

give price: 1500
1350.0

In [18]:
m = input("give month: ")
if(m == 'january') or (m == 'march') or (m == 'may') or (m == 'july') or (m == 'august') or (m == 'october') or (m == 'december'):
  days = 31
elif ( m == 'april') or (m == 'june') or (m == 'september') or (m == 'november'):
  days = 30
elif (m == 'february'):
  days = '28 or 29'
print(days)

give month: february
28 or 29

In [27]:
age = int( input ("give age : "))
if( 0 <= age <=1):
  cat = 'infant'
elif(2 <= age <=4):
  cat= 'toddler'
elif(5 <= age <=12):
  cat= 'child'
elif(13 <= age <=19):
  cat= 'teenager'
elif(20 <= age <=59):
  cat= 'adult'
elif(age >=60):
  cat= 'senior'
print(cat)

give age : 2
toddler

In [30]:
day= int(input("day of week : "))
match day:
  case 1:
    week = 'monday'
  case 2:
    week = "tuesday"
  case 3:
    week = "wednesday"
  case 4:
    week = "thrusday"
  case 5:
    week = "friday"
  case 6:
    week = "saturday"
  case 7:
    week = "sunday"
print(week)

day of week : 5
friday

In [31]:
balance = 9999
print("code 1 = check balance")
print("code 2 = deposit money")
print("code 3 = withdraw money")
code = int(input("give code: "))
if(code == 1):
  print("your balance is: ", balance)
elif(code == 2):
  deposit = (int(input("deposit amount: ")))
  balance += deposit
  print("deposit succesful")
  print("your balance is: ", balance)
elif(code == 3):
  withdraw = (int(input("withdraw amount: ")))
  if(balance < withdraw):
    print("insufficient balance")
  elif(withdraw < balance):
    balance -= withdraw
    print("withdraw succesful")
  print("your balance is: ", balance)
else:
  print("wrong input")

code 1 = check balance
code 2 = deposit money
code 3 = withdraw money
give code: 3
withdraw amount: 9985
withdraw succesful
your balance is:  14